<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Account Overview</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-icons.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Banking System</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Customer Account Overview for Employee -->
    <div class="container mt-5">
      <h2 class="text-center text-primary">Customer Account Overview</h2>
      <div class="card mt-4">
        <div class="card-body">
          <h5>Customer ID: <%= customerData.customerId %></h5>
          <h5>
            Checking Account Balance: $<%= customerData.checkingBalance %>
          </h5>
          <h5>Savings Account Balance: $<%= customerData.savingsBalance %></h5>
        </div>
      </div>
    </div>

    <!-- Transaction History Overview -->
    <h4 class="mt-5">Customer Transaction History</h4>
    <ul class="list-group">
      <% customerData.recentTransactions.forEach(transaction => { %>
      <li class="list-group-item">
        <%= transaction.date %> - <%= transaction.type %> - $<%=
        transaction.amount %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
